
	
<!--  Seach function -->

	<%= form_tag products_path, method: :get, authentication: false, id: 'search-form' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
<% end %>



		<!--  - - - - - - - - - - - - - - - - - - - - - - -  - -->



		 <!-- - - - - - - - - - - - - - - - - - - - - - - -  - -> -->



<h1> Products </h1>


<div>
	<%= link_to "Sign In" , new_user_path %>
</div>

<div>
	<%= link_to "Log In" , users_path %>

</div>

<div>
	<%= link_to "Create a new Product", new_product_path %>
</div>

<!-- - - - - - - - - - - - - -  - - - - - - -  - -->
<!--  -->

<%= link_to "Add a product", new_product_path %>

<!-- renders a helpful message with numbers of displayed vs. total entries -->

<hr/>

<h1>Products <small><%= page_entries_info @products %></small></h1>

<div id="products">
  <%= render @products %>
</div>

<%= paginate @products %>


<!-- outputs several pagination links such as « First ‹ Prev ... 2 3 4 5 6 7 8 9 10 ... Next › Last » -->




	
	






